body {
  font-family: sans-serif;
  background: rgba(39, 44, 62);
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: rgba(221, 222, 226);
}

.user {
  display: flex;
  align-items: center;
  background: rgba(39, 44, 62, 0.9);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 1);
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.8s ease, background-color 0.2s linear;
  will-change: transform;
  position: relative;
  min-height: 20px;
}

.user.new {
  animation: fadeInUp 3s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.2s linear;
}

.ip {
  font-weight: bold;
  margin-right: auto;
  color: rgba(221, 222, 226);
}

.timestamp {
  font-size: 0.9em;
  color: rgba(221, 222, 226);
}